In [1]:
myset = {"apple", "banana", "cherry"}

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [4]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', 2, True, 'banana', 'cherry'}

In [5]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, 'apple', True, 'banana', 'cherry'}

In [6]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [8]:
set1 = {"abc", 34, True, 40, "male"}

In [9]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [10]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}